footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h1{
    color: orange;
}
.c-div{
    display: flex;
    flex-direction: column;
}
.c-div p{
    width: 300px;
}
.inp-div{
    display: flex;
    gap: 2px;
}
a{
    color: inherit;
    text-decoration: none;
}
.i-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.i-div i{
    color: orange;
}